@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Inspiration&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap");

:root {
  --red: #ff6347;
}

/* General configurations  */
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--red);
  color: white;
  padding: 0;
  margin: 0;
}

.fancy {
  font-family: "Satisfy", cursive;
  font-weight: 200;
}

#title {
  text-align: center;
  font-size: 6vw;
  margin-top: 0px;
  margin-bottom: 0;
  padding: 8px 0;
}

main {
  height: 29.8vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -20px;
}

article {
  flex: 30%;
  text-align: center;
  padding: 0;
  margin: 0;
}
/* ----------------------- */


/* Timer, images and first container styles */
#timerContainer {
  padding-top: 15px;
}
#timer {
  font-size: 6vw;
  margin-top: 10px;
  margin-bottom: 35px;
}
.animateVector {
  width: 8vw;
  position: relative;
  user-select: none;
}

#img1 {
  bottom: 60px;
  left: 35px;
  transform: rotate(-5deg);
  animation: img1 2s infinite;
}
#img2 {
  top: 35px;
  transform: rotate(5deg);
  animation: img2 2s infinite;
}
#img3 {
  bottom: 60px;
  right: 30px;
  transform: rotate(5deg);
  animation: img2 2s infinite;
}
#message {
  font-size: 3vw;
  transform: rotate(5deg);
  animation: text 2s infinite;
}

@keyframes img1 {
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
@keyframes img2 {
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes text {
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
/* -------------------------------- */


/* Buttons, input and main container styles */
p,
label,
button,
input[type="text"] {
  font-size: 2vw;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}
label[for="checkbox"] {
  font-size: 1.8vw;
}
input[type="text"] {
  margin-top: 0.781vw;
}

form {
  background-color: white;
  color: var(--red);
  height: 100%;
  border-radius: 15px;
  padding: 0 4px;
  padding-top: 0.781vw;
}

.formLabel {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 2.5vw;
}

.btnContainer {
  display: flex;
  flex-direction: row;
}
button {
  color: white;
  background-color: var(--red);
  border: none;
  border-radius: 10px;
  padding: 4px 20px 8px 20px;
  margin: 0 8px;
  flex: 30%;
  cursor: pointer;
  transform: none;
  position: relative;
  transition: background-color 0.3s, border-radius 0.3s, top 0.1s;
}
#submitBtn {
  background-color: rgb(55, 55, 55);
}
button:active {
  top: 3px;
}
button[data-active="on"] {
  background-color: rgb(55, 55, 55);
  border-radius: 18px;
}
.timeBtn {
  margin-bottom: 0.781vw;
}

input[type="text"] {
  color: white;
  background-color: var(--red);
  width: 80%;
  border: none;
  border-radius: 20px;
  margin-bottom: 1.563vw;
  padding: 8px 3px;
  transition: border-radius 0.2s;
}
input[type="text"]:focus {
  border-radius: 8px;
}
/* ------------------------- */


/* Tasks and task's container styles */
#minorContainer {
  padding-top: 20px;
  padding-left: 30px;
  overflow-y: scroll;
  word-wrap: break-word;
  margin: auto;
  text-align: left;
  width: 330px;
  height: 70%;
  border: 2px solid white;
  border-radius: 20px;
}
#taskText {
  font-size: 4vw;
  margin-bottom: 0;
  margin-top: 0px;
}
/* ---------------------- */


/*Scrollbar styles*/
::-webkit-scrollbar {
  width: 15px;
  background-color: white;
  border-radius: 0px 20px 20px 0px;
}
::-webkit-scrollbar-track {
  border-radius: 60px;
}
::-webkit-scrollbar-thumb {
  background: rgb(55, 55, 55);
  border-radius: 10px;
  border-radius: 0px 20px 20px 0px;
}
/* ---------------- */


/* Footer and social media styles */
footer {
  text-align: right;
}
#credits {
  float: inline-end;
  margin-right: 10px;
}
#coded {
  font-family: "Courier New", Courier, monospace;
  font-size: 2vw;
  margin-bottom: 0;
}
#social {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#social img {
  width: 3vw;
  margin: 10px;
  transform: none;
  transition: transform 0.3s;
  user-select: none;
}
#social img:hover {
  transform: scale(1.3);
}
/* ---------------------------- */


/* Checkbox and input styles */
.container {
  display: block;
  position: relative;
  padding-left: 2.64vw;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  cursor: auto;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: -5px;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 4px;
  transform: scale(1.2);
  transition: border-radius 0.2s;
}

.container input:checked ~ .checkmark {
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid var(--red);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/* ------------------- */


/* Alert Boxes styles */
.alertBox {
  background-color: white;
  font-size: 12px;
  color: var(--red);
  border-radius: 20px;
  width: 340px;
}
/* ------------------- */